
/* GoogleMaps2D.css */

/* Set the map height explicitly to define the size of the div element that contains the map. */
#map2D {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Make the page fill the window */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

